body{
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0px;
    padding: 0px;
    background-color: rgb(22, 8, 48);
}

h1{
    font-family: "Megrim";
    font-size: 3rem;
    margin-top: 50px;
    color: white;
    padding: 20px;
    border: 1px solid white;
    box-shadow:
    0 0 10px rgba(255, 255, 255, 0.636),
    0 0 15px rgba(255, 255, 255, 0.636),
    0 0 20px rgb(0, 255, 187),
    0 0 25px rgb(0, 255, 187),
    0 0 30px rgb(0, 255, 187),
    0 0 35px rgb(0, 255, 187);
    text-shadow:
    0 0 10px rgba(255, 255, 255, 0.636),
    0 0 15px rgba(255, 255, 255, 0.636),
    0 0 20px rgb(0, 255, 187),
    0 0 25px rgb(0, 255, 187),
    0 0 30px rgb(0, 255, 187),
    0 0 35px rgb(0, 255, 187);
}

.fullcontainer{
    display: flex;
    flex-direction: column;
    width: 760px;
    height: 680px;
    padding: 5px;
    margin-top: 30px;
    border: 1px solid white;
    background-color: rgb(35, 13, 76);
}

.upperbox{
    display: flex; 
    flex-direction: row;
    gap: 2px;
}

.buttoncontainer{
    display: flex;
    flex-direction: column;
    gap: 250px;
    align-items: center;
    height: 560px;
    width: 200px;
    border: 1px solid rgb(35, 13, 76);
    background-color: rgb(35, 13, 76);
}

.buttoncontainer button{
    width: 150px;
    padding: 10px;
    font-family: "Megrim";
    font-size: 1.5rem;
    color: white;
    background-color: rgb(22, 8, 48);
    border: none;
    border-radius: 5px;
    transition: ease-in-out 0.3s;
}


.colors{
    display: flex;
    flex-direction: column;
    margin-top: 10px;
    gap: 15px;
}

.colors button:hover{
    box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.648),
    0 0 15px rgb(0, 255, 187),
    0 0 20px rgb(0, 255, 187),
    0 0 25px rgb(0, 255, 187);
    
    text-shadow:
    0 0 10px rgba(255, 255, 255, 0.648),
    0 0 15px rgb(0, 255, 187),
    0 0 20px rgb(0, 255, 187),
    0 0 25px rgb(0, 255, 187);
}

.clearer button:hover{
    box-shadow: 
    0 0 10px rgba(255, 255, 255, 0.648),
    0 0 15px red,
    0 0 20px red,
    0 0 25px red;
    
    text-shadow:
    0 0 10px rgba(255, 255, 255, 0.648),
    0 0 15px red,
    0 0 20px red,
    0 0 25px red;
}

#gridcontainer{
    display: grid;
    grid-template-columns: auto auto auto auto auto auto 
    auto auto auto auto auto auto auto auto auto auto;
    height: 560px;
    width: 560px;
    border: 1px solid rgb(35, 13, 76);
    background-color: white;
}

#gridcontainer > div{
    border: none;
    height: 35px;
    width: 35px;
}

.lowerbox{
    display: flex;
}

.slidercontainer{
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 10px;
    margin-top: 30px;
    width: 100%;
    background-color: rgb(35, 13, 76);
}

#slider{
    -webkit-appearance: none;
    width: 100%;
    height: 7px;
    outline: 1px rgba(255, 255, 255, 0.454) solid;;
    background-color:rgb(14, 13, 53);
    border-radius: 5px;
}

#slider::-webkit-slider-thumb{
    -webkit-appearance: none;
    width: 17px;
    height: 17px;
    background-color: rgb(255, 255, 255);
    border: 1px solid white;
    border-radius: 8px;
    transition: 0.2s ease-in-out;
}

#slider::-webkit-slider-thumb:hover{
    box-shadow:
    0 0 10px rgba(255, 255, 255, 0.727),
    0 0 15px rgb(0, 255, 187),
    0 0 20px rgb(0, 255, 187),
    0 0 25px rgb(0, 255, 187); 
}

#amount{
    color: white;
    font-family: "Megrim";
    font-size: 1.6rem;
    margin-top: 10px;
    margin-bottom: -10px;
}



